<% template = @curation_concern.class.to_s.underscore %>

<% array_of_hash.each_with_index do |hash, index| %>

  <div class="ubiquity-meta-related-identifier" >
    <label class="control-label multi_value optional" for="<% template %>_related_identifier"><%= t("simple_form.labels.defaults.related_identifier") %></label>
    <p class="help-block"><%= t("simple_form.hints.defaults.related_identifier") %></p>
    <%= related_identifier_edit_input_for(template, hash) %>
    <br>
  </div>
<% end %>
