<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %></h1>
    <blockquote>
      <p>
        <%= raw @notification.body %>
      </p>
    </blockquote>
    <p>
      Visit <%= link_to dashboard_url, dashboard_url %> and go to your inbox for more info.
    </p>
  </body>
</html>