---
creator_name_type:
  type: string
  form:
    required: true
    multiple: false
    type: select
    authority: HykuAddons::NameTypeService
creator_family_name:
  type: string
  form:
    required: true
    multiple: false
    type: text
    display_for:
    - Personal
creator_given_name:
  type: string
  form:
    required: true
    multiple: false
    type: text
    display_for:
    - Personal
creator_middle_name:
  type: string
  form:
    required: false
    multiple: false
    type: text
    display_for:
    - Personal
creator_suffix:
  type: string
  form:
    required: false
    multiple: false
    type: text
    display_for:
    - Personal
creator_orcid:
  type: string
  form:
    required: false
    multiple: false
    type: text
    display_for:
    - Personal
creator_institutional_relationship:
  type: string
  form:
    required: false
    multiple: false
    type: select
    authority: HykuAddons::InstitutionalRelationshipService
    attributes:
      multiple: multiple
    display_for:
    - Personal
creator_organization_name:
  type: string
  form:
    required: true
    multiple: false
    type: text
    display_for:
    - Organizational
creator_ror:
  type: string
  form:
    required: false
    multiple: false
    type: text
    display_for:
    - Organizational
creator_grid:
  type: string
  form:
    required: false
    multiple: false
    type: text
    display_for:
    - Organizational
creator_wikidata:
  type: string
  form:
    required: false
    multiple: false
    type: text
    display_for:
    - Organizational
creator_isni:
  type: string
  form:
    required: false
    multiple: false
    type: text
    display_for:
    - Personal
    - Organizational
