<!-- rendered from views/hyrax/base///_attribute_rows.html.erb -->
<% if presenter.editor_list.present? %>
  <tr>
    <th>Editor</th>
    <td>
      <ul class="tabular">
        <% presenter.editor_list.each do |editor| %>
          <li class="attribute editor">
            <span itemprop="editor" style="float:left">
              <%= editor.display_name %>
            </span>
            <span itemprop="editor">
              <% if [:orcid_link, :isni_link, :ror_link, :grid_link, :wikidata_link].any? { |l| editor.send(l).present? } %>
                <span style="float:left">&nbsp;(</span>
                <% [:orcid_link, :isni_link, :ror_link, :grid_link, :wikidata_link].each do |id_link| %>
                  <% next if editor.send(id_link).blank? %>
                  <%== editor.send(id_link) %>
                  <%# FIXME: don't display space if last link %>
                  <span style='float:left'>&nbsp;</span>
                <% end %>
                <span>)</span>
              <% end %>
            </span>
            <br/>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>