<div class="list-group col-lg-7 col-md-6 col-sm-12">
	<% if current_user.orcid_identity? %>
		<div class="list-group-item">
			<b>ORCID Sync</b>
		</div>

		<div class="list-group-item">
			<% name = "#{current_user.orcid_identity.name} (#{current_user.orcid_identity.orcid_id})" %>
			<% link = link_to(name, orcid_profile_uri(current_user.orcid_identity.orcid_id)) %>
			<p><%== t("user_orcid_identity.sync.title", link: link) %></p>
			<p><%= t("user_orcid_identity.sync.intro") %></p>

			Employment
			Funding
			Education and Qualifications
			Works
			Invited Positions and Distinctions
			Websites and Social Links
			Membership and Service
			Other IDs
		</div>

	<% else %>
		<div class="list-group-item">
			ORCID Sync
		</div>

		<div class="list-group-item">
			<p>
				Syncing your Hyku repository profile with ORCID allows you to import all the data in your ORCID profile to your repository profile and makes it easier for works deposited in this repository to be synced to ORCID.
			</p>

			<p>
				<b>What is ORCID?</b>
			</p>

			<a href="<%= orcid_authorize_uri %>" title="Connect to ORCID" class="btn btn-orcid popup" data-popup-width="515" data-popup-height="670">
				<%= image_tag 'orcid.png', alt: t('hyrax.user_profile.orcid.alt'), class: "profile" %>
				Connect to ORCID
			</a>
		</div>
	<% end %>
</div>

