<div data-toggleable-group="<%= type %>">
	<% # TODO: workout why setting the name fields as required causes the deposit form to not register the meta data was entered %>
	<% [
		{ f: f, field_type: :text, field_slug: :creator_organization_name, field_args: { data: { required: f.object.required?(:creator) } } },
		{ f: f, field_type: :text, field_slug: :creator_ror },
		{ f: f, field_type: :text, field_slug: :creator_grid },
		{ f: f, field_type: :text, field_slug: :creator_wikidata }
	].each do |field| %>
		<% options = { field_group: :creator, template: template, hash: hash }.merge(field) %>
		<%= render "records/edit_fields/attribution_partials/#{field[:field_type]}_field", options %>
	<% end %>
</div>


