<div data-toggleable-group="<%= type %>">
	<% creator_inst_rel_options = HykuAddons::InstitutionalRelationshipService.new(model: f.object.model.class).select_active_options %>
	<% creator_role_options = HykuAddons::RoleService.new(model: f.object.model.class).select_active_options %>
	<% personal_fields = [
		{ field_type: :text, field_slug: :creator_family_name, field_args: { data: { required: f.object.required?(:creator), required_group: :creator_name, on_blur: :toggle_required_group } } },
		{ field_type: :text, field_slug: :creator_given_name, field_args: { data: { required: f.object.required?(:creator), required_group: :creator_name, on_blur: :toggle_required_group } } },
		{ field_type: :text, field_slug: :creator_middle_name },
		{ field_type: :text, field_slug: :creator_suffix },
		{ field_type: :text, field_slug: :creator_institution },
		{ field_type: :text, field_slug: :creator_orcid },
		{ field_type: :text, field_slug: :creator_institutional_email },
		{ field_type: :select, field_slug: :creator_institutional_relationship, select_options: creator_inst_rel_options, field_args: { multiple: true } },
		{ field_type: :hidden, field_slug: :creator_profile_visibility } ] %>
	<% personal_fields = add_pacific_creator_personal_fields(personal_fields) if template.include? "pacific" %>
	<% personal_fields = add_uva_creator_personal_fields(personal_fields) if template.include? "uva" %>
	<% personal_fields = add_denver_creator_personal_fields(personal_fields, creator_role_options) if template.include? "denver" %>
	<% personal_fields = add_redlands_creator_personal_fields(personal_fields, creator_role_options) if template.include? "redlands" %>
	<% personal_fields = add_anschutz_creator_personal_fields(personal_fields, creator_role_options) if template.include? "anschutz" %>
	<% personal_fields = add_una_creator_personal_fields(personal_fields, creator_role_options) if template.include? "una" %>

	<% personal_fields.each do |field| %>
		<% options = { field_group: :creator, template: template, hash: hash }.merge(field) %>
		<%= render "records/edit_fields/attribution_partials/#{field[:field_type]}_field", options %>
	<% end %>
</div>
