<%= content_tag :h1, I18n.t("stats.reports.title"), class: "lower" %>

<div class="row">
	<% @reports.each do |report| %>
		<% height, url = report.split(",").map(&:strip) %>

		<div class="col-xl-6 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<iframe
							id="container-frame"
							src="<%= url %>"
							width="100%"
							height="<%= height %>"
							frameborder="0"
							style="border:0"
							></iframe>
				</div>
			</div>
		</div>
	<% end %>
</div>
