<%= content_tag :h1, I18n.t("stats.reports.title"), class: "lower" %>

<% @reports.each do |url| %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <iframe
            id="container-frame"
            src="<%= url %>"
            width="100%"
            height="800px"
            frameborder="0"
            style="border:0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
<% end %>
