<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google" content="notranslate">
    <title>PDF.js viewer</title>

    <link rel="resource" type="application/l10n" href="hyku_addons/pdf_viewer/locale/en-GB/viewer.properties">
    <%= stylesheet_link_tag  "hyku_addons/pdf_viewer" %>
    <%= javascript_include_tag  "hyku_addons/pdf_viewer/base" %>
    

  </head>
  <body tabindex="1">
    <%= yield %>
  </body>
</html>

