<div class="panel-footer" style="background: none; min-height: 60px;">
  <%= link_to "Back", hyku_addons.admin_account_settings_path, class: "btn btn-default pull-right" %>
  <%= f.submit class: 'btn btn-primary pull-right', style: "margin: 0 10px;" %>
</div>
