.btn[data-create-type="batch"] {
  display: none;
}

.badge, td.status span.enabled {
  background-color: #286090;
  padding: 4px 7px 3px;
}

ul.listing {
  padding-left: 0;

  li.field-wrapper {
    list-style: none;

    &.input-group.input-append {
      & .remove {
        border: 0;
        background-color: #ccc;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 0 4px 4px 0;
        margin: 0;
        border-left: none;
        line-height: 23px;
        padding-bottom: 3px;
        color: #a94442;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
