.btn {
  &.float-right {
    float: right;
  }

  &.margin-bottom {
    margin-bottom: 10px;
  }
}

#works-table {
  border: 1px solid #ddd;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
