<!-- copied from https://github.com/samvera/hyrax/blob/master/app/views/_logo.html.erb
  to conditionally change Hyku label for BL
-->
<% if ENV['BLANK_PAGES'] == 'true' %>

<% else %>
  <a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
    <span class="glyphicon glyphicon-globe" role="img" aria-label="<%= application_name %>" aria-hidden="true"></span>
    Shared Research Repository
  </a>
<% end %>
