<!-- rendered from views/hyrax/base///_attribute_rows.html.erb -->
<% if presenter.contributor_list.present? %>
  <tr>
    <th>Contributor</th>
    <td>
      <ul class="tabular">
        <% presenter.contributor_list.each do || %>
          <li class="attribute contributor">
            <span itemprop="contributor" style="float:left">
              <%= contributor.display_name %>
            </span>
            <span itemprop="contributor">
              <% if [:orcid_link, :isni_link, :ror_link, :grid_link, :wikidata_link].any? { |l| contributor.send(l).present? } %>
                <span style="float:left">&nbsp;(</span>
                <% [:orcid_link, :isni_link, :ror_link, :grid_link, :wikidata_link].each do |id_link| %>
                  <% next if contributor.send(id_link).blank? %>
                  <%== contributor.send(id_link) %>
                  <%# FIXME: don't display space if last link %>
                  <span style='float:left'>&nbsp;</span>
                <% end %>
                <span>)</span>
              <% end %>
            </span>
            <br/>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>