<% template = f.object.model.class.to_s.underscore %>

<div class="ubiquity-meta-alternate-identifier" data-legacy-cloneable-group>
  <label class="control-label multi_value optional" for="<% template %>_alternate_identifier">Alternate identifier</label>
  <%= Hyrax::Renderers::DepositFormFieldHintRenderer.new.hint("alternate_identifier") %>

  <%= text_field_tag "#{template}[alternate_identifier][][alternate_identifier]", nil,
                     class: "#{template}_alternate_identifier form-control multi-text-field multi_value",
                     placeholder: t("simple_form.placeholders.defaults.alternate_identifier"),
                     name: "#{template}[alternate_identifier][][alternate_identifier]"
  %>

  <br>
  <label class="control-label multi_value optional" for="<% template %>_alternate_identifier_type">
    Type of alternate identifier</label>
  <%= Hyrax::Renderers::DepositFormFieldHintRenderer.new.hint("alternate_identifier_type") %>

  <%= text_field_tag "#{template}[alternate_identifier][][alternate_identifier_type]", nil,
                     class: "#{template}_alternate_identifier_type form-control multi-text-field multi_value",
                    #  placeholder: t("simple_form.placeholders.defaults.alternate_identifier_type"),
                     name: "#{template}[alternate_identifier][][alternate_identifier_type]"
  %>
  <br>

  <a href="#" style="color:red;" class="remove_alternate_identifier form-group" data-removeUbiquityAlternateIdentifier=".ubiquity-meta-alternate-identifier">
    <span class="glyphicon glyphicon-remove"></span>
    <span class="controls-remove-text">Remove</span>
  </a>
  |

  <a href="#" class="add_alternate_identifier" data-addUbiquityAlternateIdentifier=".ubiquity-meta-alternate-identifier">Add
    another </a>
  <br> <br>

</div>